<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">
      <svg class="bi bi-cone-striped" fill="currentColor" height="30" viewBox="0 0 16 16" width="30"
           xmlns="http://www.w3.org/2000/svg">
        <path clip-rule="evenodd"
              d="M7.879 11.015a.5.5 0 01.242 0l6 1.5a.5.5 0 01.037.96l-6 2a.499.499 0 01-.316 0l-6-2a.5.5 0 01.037-.96l6-1.5z"
              fill-rule="evenodd"/>
        <path
          d="M11.885 12.538l-.72-2.877C10.303 9.873 9.201 10 8 10s-2.303-.127-3.165-.339l-.72 2.877c-.073.292-.002.6.256.756C4.86 13.589 5.916 14 8 14s3.14-.411 3.63-.706c.257-.155.328-.464.255-.756zM9.97 4.88l.953 3.811C10.159 8.878 9.14 9 8 9c-1.14 0-2.159-.122-2.923-.309L6.03 4.88C6.635 4.957 7.3 5 8 5s1.365-.043 1.97-.12zm-.245-.978L8.97.88C8.718-.13 7.282-.13 7.03.88L6.275 3.9C6.8 3.965 7.382 4 8 4c.618 0 1.2-.036 1.725-.098z"/>
      </svg>
      ACCI-SAFE
    </a>
    <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
            class="navbar-toggler"
            data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto font-weight-bold">
        <li class="nav-item">
          <a class="nav-link" href="/user/myaccount">User DashBoard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/user/selfReport">Self Report</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/user/reporthistory">Report History</a>
        </li>
      </ul>
      <div class="inline my-2 my-lg-0">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a (click)="authenticationService.Userlogout()" class="dropdown-item" type="button">
              Log out
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<app-alert></app-alert>

<div class="card-header">
  <h4 class="card-title">Report History</h4>
  <p class="card-category">View your reports</p>
</div>
<div class="card-body">
  <img *ngIf="loading" class="pl-3"
       src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
  <table *ngIf="!loading" mdbTable class="table table-hover">
    <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Street</th>
      <th scope="col">State</th>
      <th scope="col">City</th>
      <th scope="col">Description</th>
      <th scope="col">Weather Condition</th>
      <th scope="col">Visibility</th>
      <th scope="col">Humidity</th>
      <th scope="col">Operation</th>
    </tr>
    </thead>
    <tbody>
    <tr mdbTableCol *ngFor='let accident of accidents'>
      <th scope="row">{{accident.startTime}}</th>
      <th scope="row">{{accident.street}}</th>
      <th scope="row">{{accident.state}}</th>
      <th scope="row">{{accident.city}}</th>
      <th scope="row">{{accident.description}}</th>
      <th *ngIf="!isMongo" scope="row">{{accident.weathercondition}}</th>
      <th *ngIf="isMongo" scope="row">{{accident.weather_condition}}</th>
      <th scope="row">{{accident.visibility}}</th>
      <th scope="row">{{accident.humidity}}</th>


      <td *ngIf="!isMongo" style='white-space: nowrap'>
        <button class="btn btn-danger ml-2"  (click)="deleteReport(accident.id)" >Delete</button>
      </td>
      <td *ngIf="isMongo" style='white-space: nowrap'>
        <button class="btn btn-danger ml-2"  (click)="deleteReport(accident._id)" >Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

